<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dva Demo</title>
  <link rel="stylesheet" href="/index.less" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_439641_ti2vwklcm1wi2j4i.css" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
